#AcceptedValues .unity-toggle__checkmark {
    -unity-background-image-tint-color: rgb(205, 205, 205);
}

#AcceptedValues .unity-button {
    color: rgb(210, 210, 210);
    background-color: rgba(0, 0, 0, 0);
}

#AcceptedValues .unity-button:hover {
    background-color: rgb(66, 66, 66);
}

.unity-list-view__footer {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-bottom-left-radius: 0;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.metadata-name Label {
    -unity-font-style: bold;
    font-size: 18px;
}
