.AssetGridItem {
    transition-duration: 0.25s;
    transition-timing-function: ease-out-back;
    background-color: rgb(46, 46, 46);
    color: rgb(210, 210, 210);
    border-color: rgba(0, 0, 0, 0.33);
}

.AssetInfoItem {
    transition-duration: 0.25s;
    transition-timing-function: ease-out-back;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 13px;
    color: rgb(210, 210, 210);
    border-color: rgb(210, 210, 210);
}

.AssetGridItem:hover {
    background-color: rgb(34, 34, 34);
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-color: rgb(41, 161, 255);
    border-right-color: rgb(41, 161, 255);
    border-top-color: rgb(41, 161, 255);
    border-bottom-color: rgb(41, 161, 255);
}

.AssetInfoItem:hover {
    background-color: rgb(29, 29, 29);
}

.unity-foldout__text {
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.unity-foldout__toggle > .unity-toggle__input > #unity-checkmark {
    background-image: url('../../../Shared/UI/Sprites/chevron.png?fileID=21300000&guid=3ae2a8344a33c47c280866345a3020b0&type=3#chevron');
    -unity-background-image-tint-color: white;
}

.unity-foldout__toggle > .unity-toggle__input:checked > #unity-checkmark {
    -unity-background-image-tint-color: white;
    background-image: url('../../../Shared/UI/Sprites/chevron_down.png?fileID=21300000&guid=452573b98430c674f945317a0d93b88b&type=3#chevron_down');
}

.details-container {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.details-label {
    align-items: flex-start;
    flex-grow: 0;
    flex-shrink: 0;
    color: rgb(159, 159, 159);
}

.details-value-container {
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.details-value {
    flex-wrap: wrap-reverse;
    margin: 0 4px 0 12px;
    padding-left: 2px;
    -unity-font-style: bold;
    font-size: 14px;
    color: rgb(210, 210, 210);
    white-space: normal;
}
