.ContentContainer {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.sample-button {
    border-radius: 4px;
    padding: 4px 8px;
    margin: 2px 4px;
    min-width: 80px;
}

.button-blue {
    color: rgba(255, 255, 255, 0.82);
    background-color: rgb(41, 161, 255);
    border-color: rgb(41, 161, 255);
    transition-duration: 0.25s;
    transition-timing-function: ease-out-back;
}

.button-blue:hover {
    background-color: rgb(76, 176, 255);
    border-color: rgb(76, 176, 255);
}

.button-blue:disabled {
    background-color: rgba(255, 255, 255, 0.82);
    border-color: rgba(255, 255, 255, 0.82);
}

.close-icon {
    width: 20px;
    height: 20px;
    background-image: url('../Sprites/delete.png?fileID=2800000&guid=2fba3b8e11a714aeca7937eb158f6f0b&type=3#delete');
    flex-shrink: 0;
    flex-grow: 0;
    flex-direction: row;
    -unity-background-scale-mode: scale-to-fit;
    background-color: rgba(255, 255, 255, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    -unity-background-image-tint-color: rgb(205, 205, 205);
}

.close-icon:hover {
    -unity-background-image-tint-color: rgb(255, 255, 255);
}

.title-label {
    color: rgb(210, 210, 210);
    font-size: 20px;
    -unity-font-style: bold;
}

.info-label {
    margin-top: 5px;
    color: rgb(210, 210, 210);
    -unity-text-align: upper-center;
}

.error-label {
    display: none;
    border-left-color: rgb(255, 94, 81);
    border-right-color: rgb(255, 94, 81);
    border-top-color: rgb(255, 94, 81);
    border-bottom-color: rgb(255, 94, 81);
    margin-left: 9px;
    margin-right: 9px;
    margin-top: 9px;
    margin-bottom: 9px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    color: rgb(238, 94, 81);
    -unity-font-style: bold;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.list-label {
    overflow: scroll;
    margin: 4px 4px 4px 8px;
    white-space: normal;
    text-overflow: ellipsis;
}

#AssetGridItemContainer {
    margin: 1px;
}

#tabs {
    flex-direction: row;
    background-color: rgb(229, 223, 223);
    -unity-font-style: bold;
    font-size: 14px;
    flex-grow: 1;
}

.tab {
    flex-grow: 1;
    align-items: center;
    -unity-text-align: upper-center;
    background-color: rgb(48, 48, 48);
    -unity-font-style: bold;
    color: rgb(255, 255, 255);
}

.currentlySelectedTab {
    background-color: rgb(74, 77, 221);
}

.unselectedContent {
    display: none;
}

.ContextMenuContainer {
    position: absolute;
    right: 0;
    top: 0;
    align-items: flex-end;
}

.ContextMenuButton {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    background-color: rgba(88, 88, 88, 0);
    background-image: url('../../../Shared/UI/Sprites/expand.png?fileID=21300000&guid=f003f64c5b9534b98a42a77250bb34fa&type=3#expand');
    -unity-background-scale-mode: scale-to-fit;
    border-left-color: rgb(47, 47, 47);
    border-right-color: rgb(47, 47, 47);
    border-top-color: rgb(47, 47, 47);
    border-bottom-color: rgb(47, 47, 47);
    width: 24px;
    height: 24px;
}

.ContextMenu {
    background-color: rgb(56, 56, 56);
    border-left-color: rgb(47, 47, 47);
    border-right-color: rgb(47, 47, 47);
    border-top-color: rgb(47, 47, 47);
    border-bottom-color: rgb(47, 47, 47);
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    align-items: center;
    width: 80px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.ContextMenuEntry {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    width: 100%;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: rgb(210, 210, 210);
    background-color: rgba(0, 0, 0, 0);
}

.ContextMenuEntry:hover {
    background-color: rgb(72, 72, 72);
}

.Popup {
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: rgb(56, 56, 56);
    border-left-color: rgb(47, 47, 47);
    border-right-color: rgb(47, 47, 47);
    border-top-color: rgb(47, 47, 47);
    border-bottom-color: rgb(47, 47, 47);
    position: absolute;
    justify-content: space-between;
    display: none;
    overflow: hidden;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    align-self: center;
    top: 50%;
    translate: 0 -50%;
    max-width: 85%;
    max-height: 95%;
}

.popup-field {
    margin-top: 2px;
    margin-right: 7px;
    margin-bottom: 2px;
    margin-left: 7px;
    align-items: center;
}

.popup-field > #unity-text-input {
    min-width: 400px;
}

.popup-field .unity-toggle__input {
    margin-left: 2px;
}

.popup-field .unity-enum-field__input {
    margin-left: 3px;
    background-color: rgb(47, 47, 47);
    color: rgb(210, 210, 210);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.popup-field .unity-enum-field__arrow {
    -unity-background-image-tint-color: rgb(205, 205, 205);
}

.popup-field .unity-popup-field__input {
    margin-left: 3px;
    background-color: rgb(47, 47, 47);
    color: rgb(210, 210, 210);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.popup-field .unity-base-popup-field__arrow {
    -unity-background-image-tint-color: rgb(205, 205, 205);
}

.popup-field .unity-list-view__item {
    color: rgb(27, 27, 27);
}

.unity-label {
    color: rgb(210, 210, 210);
}

.unity-collection-view__item {
    transition-duration: 0.25s;
    transition-timing-function: ease-out-back;
    border-radius: 3px;
}

.unity-collection-view__item:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.unity-collection-view__item--selected {
    background-color: rgba(255, 255, 255, 0.12);
}
