.unity-text-field__label {
    display: none;
}

.unity-text-field__input {
    background-color: rgba(255, 255, 255, 0.12);
    border-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.82);
    border-radius: 5px;
    height: auto;
}

.unity-button {
    background-color: rgba(255, 255, 255, 0.12);
    color: rgba(255, 255, 255, 0.82);
    border-color: rgba(255, 255, 255, 0);
}

.unity-base-field {
    margin: 0;
}

.unity-base-text-field__input {
    padding: 0;
    margin: 0;
}

#SearchBarField {
    margin: 5px;
}

.unity-button {
    margin: 0;
    padding: 0;
    height: 65%;
}

#unity-text-input {
    flex-direction: row;
    flex-wrap: wrap;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#SearchIcon {
    margin: 5px;
}

#SearchBarContainer {
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
}

.unity-text-element {
    padding: 3px;
}

#SearchBarClearButton {
    -unity-background-image-tint-color: rgb(160, 160, 160);
}

#SearchBarClearButton:hover {
    -unity-background-image-tint-color: rgb(112, 112, 112);
}
