.unity-base-field__input {
    background-color: rgb(48, 48, 48);
    color: rgba(255, 255, 255, 0.82);
    border-radius: 4px;
    border-color: rgb(59, 59, 59);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.unity-base-field__input:hover {
    border-color: rgba(255, 255, 255, 0.82);
}

.unity-base-popup-field__arrow {
    -unity-background-image-tint-color: rgb(155, 155, 155);
    height: 24px;
    width: 24px;
    background-image: url('../Sprites/expand-more.png?fileID=21300000&guid=4061895147129422f9f8ec4dad3b1087&type=3#expand-more');
    margin-top: -4px;
    margin-right: -4px;
    margin-bottom: -4px;
    margin-left: -4px;
}

.unity-toggle {
    flex-direction: row;
    padding: 4px 8px;
    margin: -2px -3px -4px;
    margin-top: 2px;
    margin-right: 4px;
    margin-bottom: 2px;
    margin-left: 4px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    align-items: center;
}

.unity-progress-bar__background {
    background-color: rgb(28, 28, 28);
    border-left-color: rgb(59, 59, 59);
    border-right-color: rgb(59, 59, 59);
    border-top-color: rgb(59, 59, 59);
    border-bottom-color: rgb(59, 59, 59);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.unity-progress-bar__progress {
    background-color: rgb(41, 161, 255);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

Label {
    color: rgba(255, 255, 255, 0.82);
    min-width: 120px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -unity-font-style: bold;
    align-self: center;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 2px;
    padding-left: 2px;
}

#LastEdit Label {
    color: rgba(255, 255, 255, 0.48);
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
    min-width: auto;
    overflow: hidden;
}

#MetadataValue Label {
    min-width: 0;
    align-self: center;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

#SearchBarChip Label {
    min-width: auto;
    min-height: auto;
}

#StatusNameLabel {
    min-width: auto;
    min-height: auto;
}

#FileUploadButton {
    background-color: rgb(28, 28, 28);
    border-color: rgb(59, 59, 59);
    border-radius: 6px;
}

#FileUploadButton:hover {
    background-color: rgba(255, 255, 255, 0.12);
    border-color: rgb(155, 155, 155);
    border-radius: 6px;
}

#AddMetadataButton {
    margin-top: 2px;
    margin-right: 8px;
    margin-bottom: 2px;
    margin-left: 8px;
    min-width: 150px;
    align-self: center;
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgb(41, 161, 255);
    border-right-color: rgb(41, 161, 255);
    border-top-color: rgb(41, 161, 255);
    border-bottom-color: rgb(41, 161, 255);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    color: rgb(41, 161, 255);
    -unity-font-style: bold;
}

#AddMetadataButton:hover {
    background-color: rgba(41, 161, 255, 0.19);
}

.AssetFile {
    border-color: rgb(28, 28, 28);
    border-radius: 1px;
    border-width: 2px;
}

.sample-button {
    border-radius: 4px;
    padding: 4px 8px;
    margin: 2px 4px;
    min-width: 80px;
}

.button-blue {
    color: rgba(255, 255, 255, 0.82);
    background-color: rgb(41, 161, 255);
    border-color: rgb(41, 161, 255);
    transition-duration: 0.25s;
    transition-timing-function: ease-out-back;
}

.button-blue:hover {
    background-color: rgb(76, 176, 255);
    border-color: rgb(76, 176, 255);
}

.MetadataValue {
    display: none;
    flex-grow: 1;
}

.asset-tabs {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(205, 205, 205);
    -unity-font-style: bold;
    margin-top: 2px;
    margin-right: 4px;
    margin-bottom: 2px;
    margin-left: 4px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-left-width: 0;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.asset-tabs:hover {
    border-left-color: rgb(205, 205, 205);
    border-right-color: rgb(205, 205, 205);
    border-top-color: rgb(205, 205, 205);
    border-bottom-color: rgb(205, 205, 205);
}
