.StatusContent {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#StatusNameLabel {
    -unity-font-style: bold;
}

#StatusCircle {
    width: 15px;
    height: 13px;
}

#AssetStatusContainer {
    background-color: rgb(46, 46, 46);
    border-left-width: 6px;
    border-radius: 10px;
}
